name: Add Slack Merge Reaction

on:
  pull_request:
    types: [closed]

jobs:
  add-merge-reaction:
    if: github.event.pull_request.merged == true
    uses: digitalocean/docs-automation/.github/workflows/slack-merge-reaction.yml@main
    with:
      pr_url: ${{ github.event.pull_request.html_url }}
      pr_number: ${{ github.event.pull_request.number }}
      merged_by: ${{ github.event.pull_request.merged_by.login }}
      merge_commit_sha: ${{ github.event.pull_request.merge_commit_sha }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.PDOCS_SLACK_BOT_TOKEN }}
      SLACK_CHANNEL_ID: ${{ secrets.PDOCS_SLACK_CHANNEL_ID }}
